<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://aeroaegis.com/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="https://www.aeroaegis.com/products" class="nav-link px-2 text-body-secondary">Products</a></li>
      <li class="nav-item"><a href="https://www.aeroaegis.com/white-papers" class="nav-link px-2 text-body-secondary">Resources</a></li>
      <li class="nav-item"><a href="https://www.aeroaegis.com/investor-relations" class="nav-link px-2 text-body-secondary">Investor Relations</a></li>
      <li class="nav-item"><a href="https://www.aeroaegis.com/our-values" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Aeroaegis, Inc</p>
  </footer>
</div>